body{
    margin: 0;
    background-color: #FAEDF0;
}

 a span{
    color: #FAEDF0;
 }
#main{
    min-height: 40vw;
    
}

#header{
    background-color: #161853;
    
}

#header li a{
    color: #FAEDF0;
}

#footer{
    background-color: #161853;
    color: #FAEDF0;
    bottom: 0;
}

.smicon a {
    text-decoration: none;
}

#headLogin{
    color: #FAEDF0;
    border-color: #FAEDF0;
}

#headRegister{
    background-color: #FAEDF0;
    color: #161853;
}