body{
    margin: 0;
    background-color: #FAEDF0;
}


/* ------------------ navbar styling -------------- */
a span{
    color: #FAEDF0;
}


#header{
    background-color: #161853;
    
}

a.nav-link{
    color: #FAEDF0;
}

a.nav-link:hover{
    color: #EC255A;
}

#headLogin{
    color: #FAEDF0;
    border-color: #FAEDF0;
}

#headLogin:hover{
    background-color: #EC255A;
    color: #161853;
    border-color: #EC255A;
}

#headRegister{
    background-color: #FAEDF0;
    color: #161853;
}

#headRegister:hover{
    color: #EC255A;
    border-color: #EC255A;
    background-color: #161853;
}

button.navbar-toggler{
    border-color: #FAEDF0;
    border-width: 2px;
    color: #FAEDF0;
}

.search{
    border-color: #FAEDF0;
}

.form-control:focus {
    border-color: #FAEDF0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #FAEDF0;
  }

/* ------------------- main styling --------------- */
#main{
    min-height: 40vw;
}

/* ------------------- footer styling --------------- */
#footer{
    background-color: #161853;
    color: #FAEDF0;
    bottom: 0;
}

.smicon a {
    text-decoration: none;
}

