@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@1,100&display=swap');


*{
    /* get rid of all padding & margin */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	
}


body,input
{
    font-family: "Poppins", sans-serif;
}

body
{
	background-image: linear-gradient(to left bottom, rgb(248, 196, 65), rgb(252, 232, 232));
	background-repeat: no-repeat;
}

.container
{
    height: auto;
    max-width: 1200px;
	padding: 3%;
    margin-left: 2.5%;
}

.outer
{
    position: relative;
	background-image: linear-gradient(to top right,#fdf1a1,#fff7c5);
	border-radius: 2rem;
	width: 85%;
    height: auto;
	width: 100%;
	min-height: 460px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);

}


.inner
{
	width: 95%;
	height: 95%;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display:flex;
	flex-wrap: wrap;
}


.area1
{
	height: 90px;
	width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #292C6D;
}

.dropbtn {
    background-color: #292C6D;
    color: #FAEDF0;
    padding: 7px 15px;
    font-size: 16px;
    border-radius: 10%;
    border: 2px solid #EC255A;
  }
  
  .dropdown
   {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content
   {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.215);
    z-index: 1;
  }
  
  .dropdown-content a, a
   {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover
   {
    background-color: #ddd;
   }
  
  .dropdown:hover .dropdown-content
   {
    display: block;
   }
  
  .dropdown:hover .dropbtn
   {
    background-color: #EC255A ; 
   }

  input[type='submit']
  {
    height: 100%;
    width: 100%;
  }

  h1
  {
    color: #292C6D;
  }

  .surveys_no
  {
    border-radius: 50%;
    background-color: #292C6D;
    color: #EC255A;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EC255A;
  }

  h6
  {
    margin: 3px auto;
  }


  .area2
  {
    height: 300px;
    width: 100%;
  }

  table
  {
    margin: 0 auto;
    width: 100%;
  }

  tr
  {
    border-bottom:3px solid #161853 ;
  }

  td,th
  {
    text-align:center;
  }



    





