
.seperate{
    background-color: #161853;
}

hr{
    color: #FAEDF0;
    width: 91%;
    margin:0 auto;
}
.top-display{
    background-color: #161853;
    color:#FAEDF0;
}

    

#displayImg img{
   transform: scaleX(-1);
}

.create{
    background-color: #EC255A;
    
    border-color: #EC255A;
    
    
}

.create a{
    color: #FAEDF0;
    text-decoration: none;
    font-size: 1.3rem; 
}

.create a:hover{
    
    font-size: 1.3rem;
     
}

.create:hover{
    background-color: #161853;
    color: #EC255A;
    border-color: #EC255A;
    text-decoration-style: double;
    
}

#explore{
    padding: 5% 7%;
    margin: 3% 0;
    min-height: 500px;
   
}

#explore h1, #explore h2, #explore h3, #explore svg{
    color: #161853;
}

#explore svg:hover, #explore .btn:hover{
    color: #EC255A;
    outline: none;
    
}


.explore-head{
    margin-bottom: 3%;
}

.morelink a{
    color: #161853;
}

.morelink a:hover{
    color:#EC255A;
}

.cardrow{
    overflow: visible;
    min-height: 350px;
}


#pastsurvey{
    padding: 5% 7%;
    min-height: 400px;
    background-color: #161853;
    color:#FAEDF0;
}

.surveydisplay{
    border-radius: 6px;
    background-color: #292C6D;
    padding: 5% 6%;
    min-height: 250px;
}

.surveydisplay a{
    text-decoration: none;
    color: #EC255A;
    font-size: 1.25em;
    text-decoration: double;
}

.surveydisplay .col{
    padding: 2% 1%;
}










